<div class="container-fluid main">
  <div class="custom-container">

    <div class="about-section">
      <div class="about-img">
        <img src="assets/images/laptop-code-Besnik-Beka.jfif" alt="Besnik Beka">
      </div>
      <div class="about-text">
        <span>ABOUT ME</span>
        <h3>A dedicated Front-end Developer based in Prishtine, Kosovo.📍</h3>

        <p>As a junior Front-end Developer, I possess an impressive arsenal of skills in HTML, CSS, SCSS, Javascript, Typescript, Angular and React.
        I excel in designing and maintaining responsive websites that offer a smooth user experience. My expertise lies in crafting dynamic, engaging interfaces
          through writing clean and optimized code and utilizing cutting-edge development tools and techniques. I am also a team player who thrives in collaborating
          with cross-functional teams to produce outstanding web applications.
        </p>

      </div>
    </div>

  </div>
</div>


