
  <div class="section">
    <div class="custom-container">
      <div class="navbar">
        <div class="logo" (click)="scrollToSection('home')">
          Besnik Beka
        </div>
        <div class="mobile-menu" [class.open]="isMenuOpen" [class.close]="!isMenuOpen">
          <div class="nav-list">
            <ul class="header-nav">
              <li class="nav-li"><a (click)="scrollToSection('home')">Home</a></li>
              <li  class="nav-li"><a (click)="scrollToSection('about')">About</a></li>
              <li  class="nav-li"><a (click)="scrollToSection('projects')">Projects</a></li>
            
            </ul>
          </div>
        </div>
        <button (click)="toggleMenu()" [ngClass]="isMenuOpen ? 'button-open' : 'button-close'">
          <div class="ham-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
      </div>
    </div>
  </div>


