.main{
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top: 15px;
  top: 0;
  left: 0;

  .custom-container{
    max-width: 1200px;
    width: 100%;
    .navbar-div{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      //border-bottom: 1px solid black;
      border-radius: 35px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      padding: 20px 15px;
      .logo-div{
        h4{
          cursor: pointer;
          margin: 0;
        }
      }


      .list-div{
        ul{
          list-style: none;
          display: flex;
          column-gap: 25px;
          margin: 0;
          padding: 0;
          li{
            font-weight: 400;
            transition: 1.5s;
            cursor: pointer;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }

  }
}
