<div class="container-fluid main">
    <div class="custom-container">
        <div class="project-cover">
            <h1>Projects</h1>
            <div class="project-div">
                <div class="project-img">
                    <img src="../../assets/images/project-images/insurance.png" alt="">
                </div>
                <div class="project-info">
                    <h3>Insurance</h3>
                    <p>
                        Discover a wide range of insurance options tailored to meet your unique 
                        needs. From health and car insurance to legal, provision, pet, 
                        and company insurance, we provide the protection 
                        you need to secure your future and safeguard your loved ones. 
                    </p>
                    <div class="stack">
                        <div class="img-div">
                            <img src="../../assets/images/stack/angular.svg" alt="">
                        </div>
                        <div class="img-div">
                            <img src="../../assets/images/stack/scss.svg" alt="">
                        </div>
                    </div>
                    <div class="source">
                        <a href="https://github.com/besnik26/health-insurance" target="_blank" class="cover">
                            <h4>Code</h4>
                            <div class="img-div">
                                <img src="../../assets/images/git-logo.svg" alt="">
                            </div>
                        </a>
                        <a href="https://besnik-insurance.netlify.app/en/home" target="_blank" class="cover">
                            <h4>Live Demo</h4>
                            <div class="img-div">
                                <img src="../../assets/images/project-images/new-tab.svg" alt="">
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>