<div class="container-fluid main">
    <div class="custom-container">
        <div class="project-cover">
            <h1>Projects</h1>

            <app-project 
                title="Company Management System (In progress)"
                description="Full Stack Application. Manage your companies, invite employees into your company and notify them with news/posts all in one place."
                imageSrc="../../assets/images/project-images/cms.png"
                [stackImages]="['../../assets/images/stack/angular.svg', '../../assets/images/stack/scss.svg', '../../assets/images/stack/springboot.png']"
                codeLink="https://github.com/besnik26/crud-employee-managment-ui"
                demoLink="https://cms-besnik.netlify.app"
            >
            </app-project>

            <app-project 
                title="Insurance Company"
                description="Discover a wide range of insurance options tailored to meet your unique needs. From health and car insurance to legal, provision, pet, and company insurance, we provide the protection you need to secure your future and safeguard your loved ones."
                imageSrc="../../assets/images/project-images/insurance.png"
                [stackImages]="['../../assets/images/stack/angular.svg', '../../assets/images/stack/scss.svg']"
                codeLink="https://github.com/besnik26/health-insurance"
                demoLink="https://besnik-insurance.netlify.app/en/home"
            >
            </app-project>

            <app-project 
                title="Weather App"
                description="A weather forecast website, where you can stay informed about current weather conditions and upcoming forecasts for any location! Powered by the OpenWeather API, this site provides real-time updates on temperature, humidity, wind speed, and more."
                imageSrc="../../assets/images/project-images/weatherApp.png"
                [stackImages]="['../../assets/images/stack/react.svg', '../../assets/images/stack/css.svg']"
                codeLink="https://github.com/besnik26/weather-app"
                demoLink="https://besnik-weatherapp.netlify.app/"
            >
            </app-project>

        </div>
    </div>
</div>