<div class="project-div">
    <div class="project-img">
      <img [src]="imageSrc" alt="Project Image">
    </div>
    <div class="project-info">
      <h3>{{ title }}</h3>
      <p>{{ description }}</p>
      <div class="stack">
        @for (stackImage of stackImages; track stackImage) {
          <div class="img-div">
            <img [src]="stackImage" alt="Stack Image">
          </div>
        }
      </div>
      <div class="source">
        <a [href]="codeLink" target="_blank" class="cover">
          <h4>Code</h4>
          <div class="img-div">
            <img src="../../assets/images/git-logo.svg" alt="GitHub Logo">
          </div>
        </a>
        <a [href]="demoLink" target="_blank" class="cover">
          <h4>Live Demo</h4>
          <div class="img-div">
            <img src="../../assets/images/project-images/new-tab.svg" alt="Live Demo Logo">
          </div>
        </a>
      </div>
    </div>
  </div>
  