button {
    display: none;
}


@media only screen and (max-width: 768px) {

    button {
      display: block;
      position: absolute;
      top: 13px;
      right: 16px;
    }

    .button-close {
      background-color: #09e6f9;
      width: 32px;
      height: 32px;
      border-radius: 50px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .ham-menu {
        height: 17px;
        width: 16px;
        position: relative;
        span {
          height: 2px;
          width: 100%;
          background-color: black;
          border-radius: 25px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: 0.4s ease;
          text-align: start;
          &:nth-child(1) {
            top: 25%;
            height: 2px;
          }
          &:nth-child(3) {
            top: 75%;
            width: 70%;
            height: 2px;
            left: 35.5%;
          }
        }
      }
    }

    .button-open {
      background-color: #09e6f9;
      width: 32px;
      height: 32px;
      border-radius: 50px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .ham-menu {
        height: 25px;
        width: 19px;
        position: relative;
        span {
          height: 2px;
          width: 100%;
          border-radius: 25px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: 0.4s ease;
          background-color: black;
        }
        span:nth-child(1) {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
}



