<div class="container-fluid main">
  <div class="custom-container">
    <div class="home-parent" >
      <div class="home-section">
        <div class="info-section" appScrollReveal>
          <h1>Front-End Developer</h1>
          <p>Hi I'm Besnik Beka. A passionate Front-End developer based in Prishtine, Kosovo.📍</p>
          <div class="socials-div">
            
            
            @for (link of links; track $index) {
              <a 
              class="link"
              [href]="link.linkUrl" 
              [attr.target]="link.newTab ? '_blank' : null" >
                <img [src]="link.imageUrl" >
                <span>{{link.name}}</span>
              </a>
            }

            
          </div>
        </div>
        <div class="profile-section" appScrollReveal>
          <img src="assets/images/profile-pic.png" alt="Besnik Beka - Front-End Developer" title="Besnik Beka - Front-End Developer">
        </div>
      </div>
      
    </div>

  </div>
</div>

