.main{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  .custom-container{
    max-width: 1200px;
    width: 100%;
    .home-parent{
      max-width: 900px;
      margin: 0 auto;
    }
    .home-section{
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 60px;
      max-width: 900px;
      margin: 0 auto;
      .info-section{
        p{
          color: #9e9e9e;
          margin: 15px 0 35px 0;
        }
        .socials-div{
          display: flex;
          align-items: center;
          column-gap: 20px;
          .images{
            display: flex;
            column-gap: 20px;
          }
          img{
            width: 27.5px;
            height: auto;
            cursor: pointer;
          }
          .cv-button{
            color: white;
            background-color: black;
            padding: 5px 15px;
            border-radius: 16px;
            border: none;
            display: flex;
            align-items: center;
            column-gap: 5px;
          }
        }
      }
      .profile-section{
        max-width: 425px;
        img{
          width: 100%;
          animation: borderAnimation 7s infinite linear;
          height: auto;
          border-radius: 50px;
          box-shadow: rgba(30, 39, 68, 0.5)  20px 20px 70px;
          border: 2px solid #2e4266;
        }
      }

      @keyframes borderAnimation {
        0% {
          border-radius:250px 350px 350px 350px;
        }
        25% {
          border-radius:350px 250px 350px 350px;

        }
        50% {
          border-radius:350px 350px 250px 350px;

        }
        75% {
          border-radius:350px 350px 350px 250px;

        }
        100% {
          border-radius:250px 350px 350px 350px;
        }
      }
    }

    .tech-stack-section{
      display: flex;
      justify-content: start;
      align-items: center;
      margin-top: 90px;
      column-gap: 40px;
      h4{
        margin: 0;
      }
      .tech-stack-logos{
        display: flex;
        column-gap: 25px;
        img{
          width: 45px;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .main{
    padding: 0 16px;
  }
  .home-section{
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 40px;
    .info-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .socials-div{
        flex-direction: column;
        row-gap: 20px;
      }
    }

    
  }
  .tech-stack-section{
    flex-direction: column;
    align-items: center;
    margin-top: 50px!important;
    row-gap: 30px;
    .tech-stack-logos{
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 25px;
      img{
        width: 90px!important;
      }
    }
  }
}