<div class="container-fluid main">
  <div class="custom-container">
    <div class="home-parent">
      <div class="home-section">
        <div class="info-section">
          <h1>Front-End Developer</h1>
          <p>Hi I'm Besnik Beka. A passionate Front-End developer based in <br>Prishtine, Kosovo.📍</p>
          <div class="socials-div">
            <a href="https://www.linkedin.com/in/besnik-beka-658b001b2?trk=people-guest_people_search-card" target="_blank">
              <img src="assets/images/linkedin-logo.svg" alt="besnik beka linkedin">
            </a>
            <a href="https://github.com/besnik26" target="_blank">
              <img src="assets/images/git-logo.svg" alt="besnik beka github">
            </a>
            <a href="mailto:besnikbeka2001@gmail.com">
              <img src="assets/images/email.svg" alt="besnik beka email">
            </a>
            <button class="cv-button" (click)="downloadCV()">Download CV <img src="assets/images/download.svg" alt="besnik beka download"></button>
          </div>
        </div>
        <div class="profile-section">
          <img src="assets/images/profile-picture.jpg" alt="Besnik Beka">
        </div>
      </div>
      <div class="tech-stack-section">
        <div class="tech-stack">
          <h4>Tech Stack:</h4>
        </div>
        <div class="tech-stack-logos">
          <img src="assets/images/stack/html.svg" alt="besnik beka">
          <img src="assets/images/stack/css.svg" alt="besnik beka">
          <img src="assets/images/stack/scss.svg" alt="besnik beka">
          <img src="assets/images/stack/javascript.svg" alt="besnik beka">
          <img src="assets/images/stack/typescript.svg" alt="besnik beka">
          <img src="assets/images/stack/angular.svg" alt="besnik beka">
        </div>
      </div>
    </div>

  </div>
</div>
<app-about></app-about>
<app-projects></app-projects>
